# Project Notebook: Optimizing DataFrames and Processing in Chunks

## 1. Introduction

In this project, we'll practice working with chunked dataframes and optimizing a dataframe's memory usage. We'll be working with financial lending data from Lending Club, a marketplace for personal loans that matches borrowers with investors. You can read more about the marketplace on its website.

The Lending Club's website lists approved loans. Qualified investors can view the borrower's credit score, the purpose of the loan, and other details in the loan applications. Once a lender is ready to back a loan, it selects the amount of money it wants to fund. When the loan amount the borrower requested is fully funded, the borrower receives the money, minus the origination fee that Lending Club charges.

We'll be working with a dataset of loans approved from 2007-2011 (https://bit.ly/3H2XVgC). We've already removed the desc column for you to make our system run more quickly.

If we read in the entire data set, it will consume about 67 megabytes of memory. Let's imagine that we only have 10 megabytes of memory available throughout this project, so you can practice the concepts you learned in the last two lessons.

**Tasks**

1. Read in the first five lines from `loans_2007.csv` (https://bit.ly/3H2XVgC) and look for any data quality issues.

2. Read in the first 1000 rows from the data set, and calculate the total memory usage for these rows. Increase or decrease the number of rows to converge on a memory usage under five megabytes (to stay on the conservative side).

In [1]:
# Importing pandas
import pandas as pd
pd.options.display.max_columns = 99

# Your code goes here
df=pd.read_csv('loans_2007.csv', nrows=5)
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [2]:
memory_chunk=pd.read_csv('loans_2007.csv', chunksize=1000)

memory_footprints = []
for i in memory_chunk:
   memory_footprints.append(i.memory_usage(deep=True).sum()/(1024*1024))

print("Memory Usage for first 1000 is : ",memory_footprints[0])
memory_footprints

Memory Usage for first 1000 is :  1.5273666381835938

[1.5273666381835938,
 1.5263128280639648,
 1.5269670486450195,
 1.5250205993652344,
 1.5247983932495117,
 1.5265741348266602,
 1.5259695053100586,
 1.5262346267700195,
 1.5259466171264648,
 1.5273265838623047,
 1.5268049240112305,
 1.5253715515136719,
 1.5253772735595703,
 1.5253572463989258,
 1.5249614715576172,
 1.5259675979614258,
 1.5257463455200195,
 1.525864601135254,
 1.5247554779052734,
 1.5260324478149414,
 1.5253820419311523,
 1.52679443359375,
 1.5251598358154297,
 1.5265846252441406,
 1.5259370803833008,
 1.524658203125,
 1.5260696411132812,
 1.525843620300293,
 1.5256519317626953,
 1.5252199172973633,
 1.5306215286254883,
 1.5302400588989258,
 1.5285663604736328,
 1.526381492614746,
 1.5294208526611328,
 1.5324926376342773,
 1.531620979309082,
 1.5323219299316406,
 1.5311594009399414,
 1.5893192291259766,
 1.5646142959594727,
 1.5697431564331055,
 0.868586540222168]

In [7]:
memory_chunk1=pd.read_csv('loans_2007.csv', chunksize=3250)

memory_footprints1 = []
for i in memory_chunk1:
   memory_footprints1.append(i.memory_usage(deep=True).sum()/(1024*1024))

print("Memory Usage for first 3250 is : ",memory_footprints1[0])

Memory Usage for first 3250 is :  4.962096214294434

## 2. Exploring the Data in Chunks

Let's familiarize ourselves with the columns to see which ones we can optimize. In the first lesson, we explored column types by reading in the full dataframe. In this project, let's try to understand the column types better while using dataframe chunks.

**Tasks**

For each chunk:
* How many columns have a numeric type?
* How many have a string type?
* How many unique values are there in each string column? How many of the string columns contain values that are less than 50% unique?
* Which float columns have no missing values and could be candidates for conversion to the integer type?
* Calculate the total memory usage across all of the chunks.

In [9]:
# Your code goes here
chunk=pd.read_csv('loans_2007.csv', chunksize=3250)
types=[c.dtypes for c in chunk]
types[0].value_counts()

float64    30
object     21
int64       1
dtype: int64

31 columns have numeric types(float and int)
21 columns have string type

In [25]:
strcolumns = df.select_dtypes(include=["object"])

for column in strcolumns:
    strcolumns_unique = df[column].nunique()
    num_total = df[column].size
    str_unique = strcolumns_unique / num_total
    print(f"{column}\t\t: {str_unique:.2%} unique")

term		: 40.00% unique
int_rate		: 100.00% unique
grade		: 40.00% unique
sub_grade		: 100.00% unique
emp_title		: 60.00% unique
emp_length		: 60.00% unique
home_ownership		: 20.00% unique
verification_status		: 60.00% unique
issue_d		: 20.00% unique
loan_status		: 60.00% unique
pymnt_plan		: 20.00% unique
purpose		: 80.00% unique
title		: 100.00% unique
zip_code		: 100.00% unique
addr_state		: 100.00% unique
earliest_cr_line		: 100.00% unique
revol_util		: 100.00% unique
initial_list_status		: 20.00% unique
last_pymnt_d		: 80.00% unique
last_credit_pull_d		: 60.00% unique
application_type		: 20.00% unique

7 out of 21 columns have uniqueness below 50%

In [37]:
floatCol = types[0].loc[lambda x : x == 'float64']
lsFloatCols = floatCol.index.values.tolist()

In [49]:
import pandas as pd

def nullCol(col):

  chunk=pd.read_csv('loans_2007.csv', usecols=[col],chunksize=3250)
  floatcl=list()

  for i in chunk:
    chunk_nan = i[col].isnull().sum()
    floatcl.append(chunk_nan)

  total = sum(floatcl)
  print(f"{col} || Total missing values -- {total}")

for col in lsFloatCols:
  nullCol(col)

member_id || Total missing values -- 3
loan_amnt || Total missing values -- 3
funded_amnt || Total missing values -- 3
funded_amnt_inv || Total missing values -- 3
installment || Total missing values -- 3
annual_inc || Total missing values -- 7
dti || Total missing values -- 3
delinq_2yrs || Total missing values -- 32
inq_last_6mths || Total missing values -- 32
open_acc || Total missing values -- 32
pub_rec || Total missing values -- 32
revol_bal || Total missing values -- 3
total_acc || Total missing values -- 32
out_prncp || Total missing values -- 3
out_prncp_inv || Total missing values -- 3
total_pymnt || Total missing values -- 3
total_pymnt_inv || Total missing values -- 3
total_rec_prncp || Total missing values -- 3
total_rec_int || Total missing values -- 3
total_rec_late_fee || Total missing values -- 3
recoveries || Total missing values -- 3
collection_recovery_fee || Total missing values -- 3
last_pymnt_amnt || Total missing values -- 3
collections_12_mths_ex_med || Total missing values -- 148
policy_code || Total missing values -- 3
acc_now_delinq || Total missing values -- 32
chargeoff_within_12_mths || Total missing values -- 148
delinq_amnt || Total missing values -- 32
pub_rec_bankruptcies || Total missing values -- 1368
tax_liens || Total missing values -- 108

All 30 columns that have float datatypes contain missing values

In [52]:
file = pd.read_csv('loans_2007.csv')
def getTotalMem(file,csize):
  cnt=1

  for ch in chunk:
    mem=(ch.memory_usage(deep=True).sum()/(1024*1024))
    print(f"Chunk -- {cnt} || Total memory used[Mb] -- {mem}")
    cnt+=1

getTotalMem(file,3250)

<ipython-input-52-05397d19d90c>:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  file = pd.read_csv('loans_2007.csv')

Chunk -- 1 || Total memory used[Mb] -- 4.95747184753418
Chunk -- 2 || Total memory used[Mb] -- 4.960358619689941
Chunk -- 3 || Total memory used[Mb] -- 4.959011077880859
Chunk -- 4 || Total memory used[Mb] -- 4.958013534545898
Chunk -- 5 || Total memory used[Mb] -- 4.956811904907227
Chunk -- 6 || Total memory used[Mb] -- 4.959165573120117
Chunk -- 7 || Total memory used[Mb] -- 4.958077430725098
Chunk -- 8 || Total memory used[Mb] -- 4.9582977294921875
Chunk -- 9 || Total memory used[Mb] -- 4.969363212585449
Chunk -- 10 || Total memory used[Mb] -- 4.969138145446777
Chunk -- 11 || Total memory used[Mb] -- 4.977678298950195
Chunk -- 12 || Total memory used[Mb] -- 5.23378849029541
Chunk -- 13 || Total memory used[Mb] -- 0.46311283111572266

## 3. Optimizing String Columns

We can achieve the greatest memory improvements by converting the string columns to a numeric type. Let's convert all of the columns where the values are less than 50% unique to the category type, and the columns that contain numeric values to the `float` type.

While working with dataframe chunks:
* Determine which string columns you can convert to a numeric type if you clean them. For example, the `int_rate` column is only a string because of the % sign at the end.
* Determine which columns have a few unique values and convert them to the category type. For example, you may want to convert the grade and `sub_grade` columns.
Based on your conclusions, perform the necessary type changes across all chunks. * Calculate the total memory footprint, and compare it with the previous one.

In [55]:
# Your code goes here
import pandas as pd
chunk=pd.read_csv('loans_2007.csv')

# convert int_rate to float
chunk["int_rate"] = chunk["int_rate"].str.rstrip("%").astype(float)

# Convert grade and sub_grade columns to the category type
chunk["grade"] = chunk["grade"].astype("category")
chunk["sub_grade"] = chunk["sub_grade"].astype("category")

# Calculate the total memory footprint of the dataframe
total_memory = chunk.memory_usage(deep=True).sum()
print("Total memory usage:", total_memory)

Total memory usage: 62400231

<ipython-input-55-9ccb76dafc5c>:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  chunk=pd.read_csv('loans_2007.csv')

## 4. Optimizing Numeric Columns

It looks like we were able to realize some powerful memory savings by converting to the category type and converting string columns to numeric ones.

Now let's optimize the numeric columns using the `pandas.to_numeric()` function.

**Tasks**

While working with dataframe chunks:
* Identify float columns that contain missing values, and that we can convert to a more space efficient subtype.
* Identify float columns that don't contain any missing values, and that we can convert to the integer type because they represent whole numbers.
* Based on your conclusions, perform the necessary type changes across all chunks.
* Calculate the total memory footprint and compare it with the previous one.

In [56]:
# Your code goes here
float_columns = chunk.select_dtypes(include='float').columns

float_columns_with_missing = chunk[float_columns].isnull().sum()[chunk[float_columns].isnull().sum() > 0]

print(float_columns_with_missing)

member_id                        3
loan_amnt                        3
funded_amnt                      3
funded_amnt_inv                  3
int_rate                         3
installment                      3
annual_inc                       7
dti                              3
delinq_2yrs                     32
inq_last_6mths                  32
open_acc                        32
pub_rec                         32
revol_bal                        3
total_acc                       32
out_prncp                        3
out_prncp_inv                    3
total_pymnt                      3
total_pymnt_inv                  3
total_rec_prncp                  3
total_rec_int                    3
total_rec_late_fee               3
recoveries                       3
collection_recovery_fee          3
last_pymnt_amnt                  3
collections_12_mths_ex_med     148
policy_code                      3
acc_now_delinq                  32
chargeoff_within_12_mths       148
delinq_amnt                     32
pub_rec_bankruptcies          1368
tax_liens                      108
dtype: int64

In [58]:
float_cols_no_missing = df[float_columns].isnull().sum()[df[float_columns].isnull().sum() == 0]

# Print float columns with no missing values
print(float_cols_no_missing)
chunk_lst = list()



# Iterate over the chunks
for chunk in pd.read_csv('loans_2007.csv', chunksize=3250):
    float_cols = chunk.select_dtypes(include='float').columns
    chunk[float_cols] = chunk[float_cols].astype('float32')
    float_cols_no_missing = chunk[float_cols].isnull().sum()[chunk[float_cols].isnull().sum() == 0]

    # Convert float columns with no missing values to integers
    chunk[float_cols_no_missing.index] = pd.to_numeric(chunk[float_cols_no_missing.index], downcast='integer')

    # Append chunk to list chunk_lst
    chunk_lst.append(chunk)

df_optimized = pd.concat(chunk_lst)

member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
int_rate                      0
installment                   0
annual_inc                    0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
total_acc                     0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
collections_12_mths_ex_med    0
policy_code                   0
acc_now_delinq                0
chargeoff_within_12_mths      0
delinq_amnt                   0
pub_rec_bankruptcies          0
tax_liens                     0
dtype: int64

TypeError: ignored

In [62]:
convertCol = [
    'loan_amnt' , 'funded_amnt' , 'funded_amnt_inv', 'installment', 'annual_inc','dti' ,'revol_bal',
    'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
    'recoveries' , 'collection_recovery_fee', 'last_pymnt_amnt', 'delinq_amnt'
    ]



chunk=pd.read_csv('loans_2007.csv', chunksize=3250)
cnt=1

for i in chunk:
  for col in convertCol:
    i[col].fillna(0, inplace=True)

  #1.2 - Cast to 'int'
  for col in convertCol:
    i[col] = pd.to_numeric(i[col], downcast='integer')

  ##2- Calculate the total memory footprint and compare it with the previous one.
  mem=(i.memory_usage(deep=True).sum()/(1024*1024))
  print(f"Chunk -- {cnt} || Total memory used[Mb] -- {mem}")
  cnt+=1

Chunk -- 1 || Total memory used[Mb] -- 4.903206825256348
Chunk -- 2 || Total memory used[Mb] -- 4.898582458496094
Chunk -- 3 || Total memory used[Mb] -- 4.9014692306518555
Chunk -- 4 || Total memory used[Mb] -- 4.900121688842773
Chunk -- 5 || Total memory used[Mb] -- 4.8991241455078125
Chunk -- 6 || Total memory used[Mb] -- 4.897922515869141
Chunk -- 7 || Total memory used[Mb] -- 4.900276184082031
Chunk -- 8 || Total memory used[Mb] -- 4.8867902755737305
Chunk -- 9 || Total memory used[Mb] -- 4.88701057434082
Chunk -- 10 || Total memory used[Mb] -- 4.898076057434082
Chunk -- 11 || Total memory used[Mb] -- 4.89785099029541
Chunk -- 12 || Total memory used[Mb] -- 4.906391143798828
Chunk -- 13 || Total memory used[Mb] -- 5.162501335144043
Chunk -- 14 || Total memory used[Mb] -- 0.45707035064697266

## Next Steps

We've practiced optimizing a dataframe's memory footprint and working with dataframe chunks. Here's an idea for some next steps:

Create a function that automates as much of the work you just did as possible, so that you could use it on other Lending Club data sets. This function should:

* Determine the optimal chunk size based on the memory constraints you provide.

* Determine which string columns can be converted to numeric ones by removing the `%` character.

* Determine which numeric columns can be converted to more space efficient representations.

In [60]:
# Your code goes here

def chunk_size(csv_file, available_mem, start_chunk_size, chunk_step):
  no_rows = start_chunk_size
  chunk_memory =0
  while(chunk_memory < available_mem):
    no_rows += chunk_step
    chunk = pd.read_csv(csv_file, nrows=no_rows,)
    chunk_memory = chunk.memory_usage(deep=True).sum()/(1024*1024)


  return no_rows-chunk_step

no_rows = chunk_size('loans_2007.csv', 5, 3000, 50)
print(no_rows)

3250

In [61]:
def optimisecolumns(df):
  numeric_cols = df.select_dtypes(exclude=['object'])
  cols_missing_value = numeric_cols.isnull().sum()
  int_cols = list(cols_missing_value[cols_missing_value == 0].index)
  float_cols = list(cols_missing_value[cols_missing_value >0].index)

  return int_cols, float_cols

#
loans = pd.read_csv('loans_2007.csv')
loans['id']=pd.to_numeric(loans['id'], errors='coerce')
loans.dropna(axis=0, subset=['id'], inplace=True)

x,y = optimisecolumns(loans)
print(f'int columns: {x}')
print(f'float columns: {y}')

int columns: ['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'installment', 'dti', 'revol_bal', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt', 'policy_code']
float columns: ['annual_inc', 'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'total_acc', 'collections_12_mths_ex_med', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens']

<ipython-input-61-1b42503c5740>:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  loans = pd.read_csv('loans_2007.csv')